@model FindPet.Core.Comment

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div>
    @if (SignInManager.IsSignedIn(User))
    {
    <form method="post" asp-controller="Posts" asp-action="Comment">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="PostId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Username" value="@User.Identity.Name.ToString()" />
        </div>
        <div class="form-group">
            <input asp-for="Text" class="form-control" placeholder="Додати коментар..." />
        </div>
        <div class="form-group" style="margin-top:1%; margin-bottom:1%">
            <input type="submit" value="Надіслати" class="btn btn-primary" />
        </div>
    </form>
    }
</div>