@model FindPet.Core.Post

@{
    ViewData["Title"] = "Create";
}

<h4>Створити Оголошення</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost" asp-controller="Posts" enctype="multipart/form-data">
            <div class="input-group mb-3" style="margin-top:1%">
                <label class="input-group-text" for="inputGroupSelect01">Status</label>
                <select class="form-select" id="inputGroupSelect01" asp-for="Status">
                <option value="Знайдено" selected>Знайдено</option>
                <option value="Загублено">Загублено</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />               
            </div>
            <div class="form-group" style="margin-top:4%">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />               
            </div>
            <div class="input-group mb-3" style="margin-top:8%">
                <input asp-for="PhotoFile" type="file" class="form-control">
            </div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" type="hidden" value="@User.Identity.Name.ToString()" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" style="margin-top:1%"><i class="bi bi-box-arrow-left"></i>&nbspНазад</a>
</div>